<form class="">
  <table class="table add-drop-table">
    <tr>
      <td colspan="13">
        <h3>Added Player</h3>
      </td>
    </tr>
    <%= JST['players/_header_row']({
          col1: "radio"
        }) %>
  </table>

  <input type="submit" name="name" value="Submit">
</form>
