<!-- On flea flicker there is only one table but I can't figure out how to -->
<!-- insert a subview into a table without fucking everyhting up -->
<h1>Add Player</h1>

<form class="" action="index.html" method="post">
  <table class="table add-drop-table">
  <tr> <h3>Added Player</h3> </tr>
    <%= JST['players/_header_row']({
          col1: "radio"
        }) %>
  <section class="to-add-rows"></section>
  <tr> <h3>Dropped Player</h3> </tr>
  <div class="to-drop-rows"></div>
  </table>

  <input type="submit" name="name" value="Submit">
</form>
