<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="team-name">Team Name</label>
    <input type="text" id="team-name"
           class="form-control"
           value="<%= team.escape("name") %>">
  </div>

  <input type="submit" value="Save">
</form>
