<% if (!!team.escape("name")) { %>
  <td>
    <a href="#/leagues/<%= league.id %>/teams/<%= team.id %>">
      <%= team.escape("name") %>
    </a>
  </td>
  <td>
    <%= team.escape("manager_username") %>
  </td>
<% } else { %>
  <td>
    <button type="button" class="join-league">
      Join League
    </button>
  </td>
<% } %>

<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

<td></td>
<td></td>
<td></td>
<td></td>

<td></td>
<td></td>

<td></td>
<td></td>
