<% if (!!team.escape("name")) { %>
  <td><%= team.escape("name") %></td>
<% } else { %>
  <td>
    <button type="button" class="join-league">
      Join League
    </button>
  </td>
<% } %>
<td></td>

<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

<td></td>
<td></td>
<td></td>
<td></td>

<td></td>
<td></td>

<td></td>
<td></td>
