<% if (!!team.escape("name")) { %>
  <td><%= team.escape("name") %></td>
<% } else { %>
  <td><button type="button" class"btn btn-default">Join League</button></td>
<% } %>
<td></td>

<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>

<td></td>
<td></td>
<td></td>
<td></td>

<td></td>
<td></td>

<td></td>
<td></td>
