<h1>Leagues</h1>

<table class="table">
  <tr>
    <th colspan="2">Fantasy</th>
    <th colspan="6">Standings</th>
    <th colspan="2">Games</th>
  </tr>
  <tr>
    <th>League</th>
    <th>Team</th>
    <th>W</th>
    <th>L</th>
    <th>T</th>
    <th>%</th>
    <th>Strk</th>
    <th>Rank</th>
    <th>Previous</th>
    <th>Current</th>
  </tr>
  <% leagues.each( function (league) { %>
    <tr>
      <td><%= league.escape("name") %></td>
      <td><%= league.user_team().escape("name") %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% }); %>
</table>
