<% if (!teams.length) { %>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
<% } else { %>
<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default league-info">
      <div class="panel-body">
        <h5><%= league.escape("name") %></h5>
        <dl class="league-description">
          <dt>Lifetime</dt>
          <dd><%= league.escape("redraft") === "true" ? "Redraft" : "Keeper" %></dd>
          <dt>Type</dt>
          <dd><%= league.escape("match_type") %></dd>
          <dt>Membership</dt>
          <dd><%= league.escape("public") === "true" ? "Public" : "Private" %></dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <table class="table teams-table table-condensed table-striped table-hover table-bordered">
      <tr>
        <th colspan="2">Fantasy</th>
        <th colspan="4">Standings</th>
        <th colspan="4">Stats</th>
        <th colspan="2">Games</th>
      </tr>
      <tr>
        <th>Team</th>
        <th>Owner</th>

        <th>W</th>
        <th>L</th>
        <th>%</th>
        <th>GB</th>

        <th>PF</th>
        <th>Avg</th>
        <th>PA</th>
        <th>Avg</th>

        <th>Previous</th>
        <th>Current</th>
      </tr>
    </table>
  </div>
</div>
<% } %>
