<nav class="navbar navbar-default splash">
  <div class="navbar-header">
    <div class="navbar-brand">
      NOKICKER
    </div>
  </div>
  <div class="navbar-right">
    <a href="#" class="btn btn-success">Play Without Kickers</a>
    <a href="#" class="btn btn-default">Log In</a>
  </div>
</nav>

<div class="container">
  <div class="jumbotron row">
    <div class="col-xs-6">
      <h1>Sign In</h1>
        <%= render partial: "shared/user_form",
                   locals: {
                     target_url: session_url,
                     user: @user,
                     submit_verb: "Sign In!",
                     patch: false,
                     new_user: false
                   } %>
    </div>
    <div class="col-xs-6">
      guest login username: baloo
      password: password
    </div>
  </div>
</div>
