
<td>
  <input type="radio"
         name="to_drop_id"
         value="<%= player.id %>">
</td>
<td><%= player.escape("fname") + " " + player.escape("lname") %></td>
<td><%= player.escape("position") %></td>
<td><%= player.escape("team_name") %></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
