
<td></td>
<td><%= player.escape("fname") + " " + player.escape("lname") %></td>
<td><%= player.escape("position") %></td>
<td><%= player.escape("team_name") %></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>
  <% if ( player.isContracted() ) { %>
    <button type="button" class="add-button" name="button">
      Drop Player
    </button>
  <% } else { %>
    <button type="button" class="drop-button" name="button">
      Add Player
    </button>
  <% } %>
</td>
