
<td></td>
<td><%= player.escape("fname") + " " + player.escape("lname") %></td>
<td><%= player.escape("position") %></td>
<td><%= player.escape("team_name") %></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td><button type="button" name="button">Add Player</button></td>
