<td><%= player.escape("fname") + ". " + player.escape("lname") %></td>
<td><%= player.escape("position") %></td>
<td><%= player.escape("team_name") %></td>
<td>Bye</td>

<td>Week 1</td>

<td>Draft</td>
<td>Pos</td>

<td>Summary</td>

<td>Total</td>

<td>Average</td>

<td>Status</td>
