<h5><%= message.escape("title") %></h5>
<a href="#/leagues/<%= league.id %>/messages/<%= this.model.id %>">
  <span class="list-item-link"></span>
</a>

<div class="item-text">
  <%= message.escape("body") %>
  <span class="pull-right label label-default">Comments</span>
</div>
