<h1><%= message.escape("title") %></h1>
<p>
  <%= message.escape("body") %>
</p>

<form class="form new-comment-form">
  <input type="text" name="comment[body]" class="form-control" value="">

  <input type="submit" value="OK">
</form>

<ul class="comments-index"></ul>
