<h1><%= message.escape("title") %></h1>
<p>
  <%= message.escape("body") %>
</p>

<form class="form new-comment-form">
  <div class="input-group">
    <input type="text" name="comment[body]" class="form-control" value="">
    <span class="input-group-btn">
      <input type="submit" class="btn btn-primary" value="OK">
    </span>
  </div>

</form>

<ul class="comments-index list-group"></ul>
