<tr>
  <th class="team-name-column">
    Team
  </th>
  <th>
    Score
  </th>
</tr>

<tr>
  <td>
    <%= matchup.team1().escape("name") %>
  </td>
  <td>
    0
  </td>
</tr>

<tr>
  <td>
    <%= matchup.team2().escape("name") %>
  </td>
  <td>
    0
  </td>
</tr>
