<tr>
  <th class="team-name-column">
    Team
  </th>
  <th>
    Score
  </th>
</tr>

<% if (matchup.team1().escape("is_user") === "true") { %>
  <tr class="warning">
<% } else { %>
    <tr>
  <% } %>
  <td>
    <%= matchup.team1().escape("name") %>
  </td>
  <td>
    <%= matchup.team1().escape("score") %>
  </td>
</tr>

<% if (matchup.team2().escape("is_user") === "true") { %>
  <tr class="warning">
<% } else { %>
  <tr>
<% } %>
  <td>
    <%= matchup.team2().escape("name") %>
  </td>
  <td>
    <%= matchup.team2().escape("score") %>
  </td>
</tr>
