<% if (!matchups.length) { %>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
<% } else { %>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <% if (matchups.length) { %>
      <div class="row">
        <div class="col-md-6 left-hand-matchups">
        </div>
        <div class="col-md-6 right-hand-matchups">
        </div>
      </div>
      <a class="btn btn-primary dropdown-toggle"
         href="#"
         data-toggle="dropdown"
         aria-expanded="true">Week <%= week %></a>
      <ul class="dropdown-menu" role="menu">
        <% for (var i = 1; i <= 16; i ++) { %>
          <a href="#/leagues/<%= league.id %>/weeks/<%= i %>/matchups"><li>Week <%= i %></li></a>
        <% } %>
      </ul>
    <% } else { %>
    <div class="alert alert-warning">
      Matchups cannot be assigned until the league has been populated
    </div>
    <% } %>
  </div>
</div>
<% } %>
