<li class=""><a href="#/leagues/<%= league.id %>/players">
  Players
</a></li>
<li class=""><a href="#/leagues/<%= league.id %>">
  Teams
</a></li>
<li class=""><a href="#">
  Trades
</a></li>
<li class=""><a href="#">
  Messages
</a></li>
