<h1>Select Players</h1>

<% if (errors) { %>
  <ul class="alert alert-danger">
    <% for (var i = 0; i < errors.length; i++) { %>
      <li class="error-item"><%= errors[i] %></li>
    <% } %>
  </ul>
<% } %>

<form class="trade-item-form">
  <tr>
    <th colspan="13">
      <h3>Requested Players</h3>
    </th>
  </tr>
  <table class="table trade-item-table">
    <tr>
      <th colspan="4">Name</th>
      <th>Opp</th>
      <th>Season Stats</th>
      <th colspan="2">Fantasy</th>
      <th colspan="2">Availability</th>
    </tr>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Pos</th>
      <th>Team</th>
      <td>Week <%= Number(NoKicker.currentWeek) + 1 %></td>
      <th>Summary</th>
      <th>Total</th>
      <th>Avg</th>
      <th>Status</th>
    </tr>
  </table>
  <input type="submit" class="btn btn-success" value="OK">
</form>
